body{
	
}

/*
.carousel-inner{
	height: 70vh;
}

.carousel-inner>.item.active{
	height: 70vh;
}

.carousel-inner img{
	position:absolute;
	top: 0;
	//bottom: 0;
	margin:auto;
}
*/
h1,h2,h3,h4,h5,h6{
	line-height: 1.7;
	color: #757575;
	font-weight: 600;
}
p{
	font-size: 21px;
	line-height:2;
	color: #757575;
}
.carousel-indicators{
	width: 100%;
	position: relative;
	padding-top:30px;
	left: 0;
	margin-left: 0;
}
.carousel-text{
	width: 40%;
	float:right;
	padding: 60px;
	text-align:left;
}
.carousel-indicators li{

	border: 1px solid #757575;
	width: 16px;
	height:16px;
}
.carousel-indicators p{
	display:inline-block;
	cursor: pointer;
}
.carousel-indicators li.active{
	width: 16px;
	height:16px;
	background-color: #757575;
}

.navbar{
	margin-bottom: 0;
}



.carousel{
	width: 60%;
	//height: 70vh;
	} 
.carousel-caption{

}

.carousel-text h1{
	margin-top: 70px;
}
/*
.carousel-inner{
	max-height: 70vh;
}
.carousel{
margin-bottom: 20px;
}

.carousel-caption{
	  background: rgba(100, 100, 100, .5);
	  text-align: left;
	  padding: 20px;
	  right:30%;
	  left: 30%;
	  bottom: 30px;
}
.carousel-inner>.item.active{
	max-height: 70vh;
	vertical-align: middle;
	display:inline-block;
}

.carousel-inner img{
	vertical-align: middle;
}*/

.marketing .col-md-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-md-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
